.orange {
    color: orange;
    background-color: black;
}
.red {
    color: red;
    
}
.black {
    color: black;
}
.yellow {
    color: yellow;
}
.purple {
    color: purple;
    background-color: wheat;
}
.mota{
    font-weight: bold;
}